{
    "code": 200,
    "msg": "ok",
    "result": [
        {
            "name": "Maldives",
            "picUrl": "http://img.hb.aicdn.com/10dd7b6eb9ca02a55e915a068924058e72f7b3353a40d-ZkO3ko_fw658"
        },
        {
            "name": "USA",
            "picUrl": "http://img.hb.aicdn.com/a3a995b26bd7d58ccc164eafc6ab902601984728a3101-S2H0lQ_fw658"
        },
        {
            "name": "China",
            "picUrl": "http://pic4.nipic.com/20091124/3789537_153149003980_2.jpg"
        },
        {
            "name": "Australia",
            "picUrl": "http://img.hb.aicdn.com/4ba573e93c6fe178db6730ba05f0176466056dbe14905-ly0Z43_fw658"
        },
        {
            "name": "China",
            "picUrl": "http://img.hb.aicdn.com/4bc60d00aa3184f1f98e418df6fb6abc447dc814226ef-ZtS8hB_fw658"
        },
        {
            "name": "New Zealand",
            "picUrl": "http://img.hb.aicdn.com/d9a48c272914c5253eceac26c51a56a26f4e50d048ba7-IJsbou_fw658"
        },
        {
            "name": "Fiji",
            "picUrl": "http://img.hb.aicdn.com/03d474bbe20efb7df9aed4541ace70b53b53c70bdfe3-8djYVv_fw658"
        },
        {
            "name": "England",
            "picUrl": "http://img.hb.aicdn.com/004cddd40519846281526b4b25fbdea36b31d01e190dd-7zlmuG_fw658"
        },
        {
            "name": "Indonesia",
            "picUrl": "http://img.hb.aicdn.com/a58eda8a9a2a3f30f0a694c2702e1aba71d97d616d34f-rqv6FA_fw658"
        },
        {
            "name": "Norway",
            "picUrl": "http://img.hb.aicdn.com/41ff5110b4ecdec24e14f767e83c1659c2e8a180f3df-QqUAgk_fw658"
        },
        {
            "name": "USA",
            "picUrl": "http://img.hb.aicdn.com/80006ed344ed8dee7ad8142b3c4dc1b51cbf207c3097a-SGiu5P_fw658"
        },
        {
            "name": "Brazil",
            "picUrl": "http://img.hb.aicdn.com/ade29e312dc44eb63aa6fd258cabcb4a217d88fb4959e-9qPoRi_fw658"
        },
        {
            "name": "Malaysia",
            "picUrl": "http://img.hb.aicdn.com/d812c602d55419c278d826591d4996e744c629d6fb61-01BfFo_fw658"
        },
        {
            "name": "Philippine",
            "picUrl": "http://img.hb.aicdn.com/1ce7724403f4613566d9d51ad5ead3a58f93220521c3f-fNA43p_fw658"
        },
        {
            "name": "Japan",
            "picUrl": "http://img.hb.aicdn.com/e7d7f513744141140f0a34eb3f24540c96ea2b6050ad8-E44srp_fw658"
        },
        {
            "name": "Russia",
            "picUrl": "http://img.hb.aicdn.com/04beba3c6f48abc7d8cea6304f8673cfc3de8637322d2-WDz41G_fw658"
        }
    ]
}